<footer>
  <div class="footer-container">
    <section>
      <h2>Aäsgard</h2>
      <div class="link">
        <a href="">Nos marques</a>
        <a href="">Demandez un devis</a>
        <a href="">Simulateur d’économie d’énergie</a>
        <a href="">Contactez-nous</a>
        <a href="">Rejoignez-nous</a>
      </div>
    </section>
    <section>
      <h2>Notre selection de poêles</h2>
      <div class="link">
        <a href="">Poêles à bois</a>
        <a href="">Poêles à granulés</a>
        <a href="">Cheminées Inserts</a>
        <a href="">Poêle à bois Contura 596</a>
        <a href="">Poêle à bois Stovax Studio 2 Freestanding</a>
        <a href="">Poêle à granulés Rika Filo</a>
      </div>
    </section>
    <section>
      <h2>Notre selection de conseils</h2>
      <div class="link">
        <a href="">Chauffage principal ou chauffage d’appoint ?</a>
        <a href="">5 critères pour bien choisir votre poêle à bois</a>
        <a href="">5 critères pour bien choisir votre poêle à granulés</a>
        <a href="">Blog</a>
        <a href="">Faq</a>
      </div>
    </section>
  </div>
  <div class="footer-signature">
    <div class="logo">
      <img src="../../../assets/footer-logo.png" alt="" srcset="" />
    </div>
    <div class="made">
      <h2>Made by De Yves DION with ❤️</h2>
    </div>
  </div>
</footer>
