<main>
  <div class="banner">
    <div class="banner-container">
      <h1 class="banner-title">La vie au coin du feu</h1>
      <div class="bounce"></div>
    </div>
  </div>

  <div class="experience">
    <div class="experience-container">
      <h2 class="experience-title">
        Vivez l’expérience <br />scandinave Aäsgard
      </h2>
      <p class="description">
        Enveloppé par une chaleur douce et diffuse, vous admirez la vue des
        flammes du feu de bois. Vous maintenez, sans effort, une température
        agréable et constante, en maîtrisant votre consommation. La pose de
        votre poêle à bois est réalisée par nos experts certifiés en techniques
        de fumisterie. Maintenant, votre poêle scandinave sublime votre
        intérieur. Détendez-vous, Aäsgard s’occupe de vous.
      </p>
      <div class="slideImage">
        <img class="slide" src="../../../assets/slider.png" />
      </div>
    </div>
  </div>

  <div class="discovery">
    <div class="discovery-container">
      <div class="discovery-img"></div>
      <div class="discovery-contain">
        <h2 class="t1">Quel poêle<br /></h2>
        <h2 class="t2">Est fäit pour vØus ?<br /></h2>
        <h2 class="t3">Découvrez votre feu idéal</h2>
      </div>
    </div>
  </div>

  <div class="gift">
    <div class="gift-container">
      <div class="gift-title">
        <div class="title-contain">Faites un cadeau de Noël à vos amis</div>
      </div>
      <div class="gift-description">
        <h3>Achetez-vous un poêle Aäsgard !</h3>
        <button class="btn" type="button">Je prends RDV</button>
      </div>
    </div>
  </div>
</main>
