<main>
  <div class="banner">
    <div class="banner-container">
      <h1 class="banner-title">La vie au coin du feu</h1>
      <div class="bounce"></div>
    </div>
  </div>

  <div class="experience">
    <div class="experience-container">
      <h2 class="experience-title">
        Vivez l’expérience <br />scandinave Aäsgard
      </h2>
      <p class="description">
        Enveloppé par une chaleur douce et diffuse, vous admirez la vue des
        flammes du feu de bois. Vous maintenez, sans effort, une température
        agréable et constante, en maîtrisant votre consommation. La pose de
        votre poêle à bois est réalisée par nos experts certifiés en techniques
        de fumisterie. Maintenant, votre poêle scandinave sublime votre
        intérieur. Détendez-vous, Aäsgard s’occupe de vous.
      </p>
      <div class="slideImage">
        <img class="slide" src="../../../assets/slider.png" />
      </div>
    </div>
  </div>
</main>
