<main>
  <div class="banner">
    <div class="banner-container">
      <h1 class="banner-title">La vie au coin du feu</h1>
      <div class="bounce"></div>
    </div>
  </div>

  <div class="experience">
    <div class="experience-container">
      <h2 class="experience-title">
        Vivez l’expérience <br />scandinave Aäsgard
      </h2>
      <p class="description">
        Enveloppé par une chaleur douce et diffuse, vous admirez la vue des
        flammes du feu de bois. Vous maintenez, sans effort, une température
        agréable et constante, en maîtrisant votre consommation. La pose de
        votre poêle à bois est réalisée par nos experts certifiés en techniques
        de fumisterie. Maintenant, votre poêle scandinave sublime votre
        intérieur. Détendez-vous, Aäsgard s’occupe de vous.
      </p>
      <div class="slideImage">
        <img class="slide" src="../../../assets/slider.png" />
      </div>
    </div>
  </div>

  <div class="discovery">
    <div class="discovery-container">
      <div class="discovery-img"></div>
      <div class="discovery-contain">
        <h2 class="t1">Quel poêle<br /></h2>
        <h2 class="t2">Est fäit pour vØus ?<br /></h2>
        <h2 class="t3">Découvrez votre feu idéal</h2>
      </div>
    </div>
  </div>

  <div class="gift">
    <div class="gift-container">
      <div class="gift-title">
        <div class="title-contain">Faites un cadeau de Noël à vos amis</div>
      </div>
      <div class="gift-description">
        <h3>Achetez-vous un poêle Aäsgard !</h3>
        <button class="btn" type="button">Je prends RDV</button>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="slide-container">
      <div class="slide-description">
        <h2>Trouvez votre poêle à bois idéal</h2>
        <p class="slide-txt">
          Formés régulièrement aux dernières normes de fumisterie, nos
          techniciens salariés connaissent parfaitement leur métier et sont
          certifiés RGE Qualibois, la norme qualité des installateurs de poêles
          à bois et cheminées. Tous nos collaborateurs s’impliquent pour
          construire avec vous une relation de confiance. Nous respectons et
          appliquons les méthodes de travail pour une pose, un raccordement et
          un montage dans les règles de l’art : sécuriser, protéger votre
          logement et vous former à l’utilisation de l’appareil. Votre poêle n’a
          plus de secret pour vous. À vous l’ambiance chaleureuse d’un foyer
          chauffé au bois.
        </p>
        <button class="btn" type="button">Je prends rdv</button>
      </div>
      <div class="slide-img">
        <img src="../../../assets/slide.jpg" alt="" srcset="" />
      </div>
    </div>
  </div>

  <div class="parallax">
    <div class="parallax-container"></div>
  </div>

  <div class="video">
    <div class="video-container">
      <div class="video-video">
        <div class="videoYtb">
          <embed
            style="height: 100%; width: 100%"
            src="https://www.youtube.com/embed/bnU12Z9dxX0"
          />
        </div>
      </div>

      <div class="video-description">
        <h2>La forêt Aäsgard</h2>
        <p class="video-txt">
          Aäsgard fait le choix en 2020 de prendre part à la Gestion Durable de
          la Forêt Française et d’investir dans le bois en tant que première
          source d’énergie renouvelable en France en faisant l’acquisition d’une
          forêt d’une trentaine d’hectares en Centre Bretagne. L’objectif ?
          Faire de cet endroit magique un laboratoire de connaissance et
          d’expérience pour nos collaborateurs et nos clients.
        </p>
        <button class="btn" type="button">Plus de vidéo</button>
      </div>
    </div>
  </div>
</main>
