<main>
  <div class="banner">
    <div class="banner-container">
      <h1 class="banner-title">
        Nous aimons <br />
        la simplicité
      </h1>
      <div class="bounce"></div>
    </div>
  </div>
  <div class="detail">
    <div class="detail-container">
      <div class="description">
        <h2>Poêle à granulés Rica Sumo</h2>
        <p>
          Un poêle à granulés marie l’atmosphère d‘un poêle à bois classique
          avec une technologie de pointe et un confort de commande maximal.
        </p>
        <button type="button" class="btn">Prendre rendez-vous</button>
      </div>
      <div class="img">
        <img src="../../../assets/Sumo vignette.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="pile">
    <div class="pile-container">
      <div class="detail">
        <h2>Pile Poêle Dispo :</h2>
        <h3>Découvrez la gamme Aäsgard prête à installer avant l’hiver !</h3>
      </div>
      <div class="pile-btn">
        <button type="button" class="btn">Je prends RDV</button>
      </div>
    </div>
  </div>
  <div class="d">
    <div class="d-container">
      <div class="img">
        <img src="../../../assets/Rika Sumo 3D Desktop.png" alt="" />
      </div>
      <div class="description">
        <h2>Rika Sumo</h2>
        <p>
          Le Sumo, poêle à granulés de la marque Rika, dispose d’un choix
          important de parures latérales pouvant répondre à tous les goûts. Haut
          de gamme, il est équipé d’innovations technologiques améliorant votre
          confort.
        </p>
        <img src="../../../assets/tampon.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="prime">
    <div class="prime-container">
      <div class="title">
        <h2>TOUS NOS POÊLES SONT ÉLIGIBLES À MA PRIME RÉNOV'</h2>
      </div>
      <div class="description">
        <p>
          Chez Aäsgard, tous nos poêles sont
          <strong>certifiés Flamme Verte</strong> et garantissent les meilleures
          performances environnementales en termes de rendements et d’émissions
          dans l’atmosphère. Par ailleurs, tous nos vendeurs et installateurs
          sont <strong>certifiés RGE Qualibois</strong> pour vous garantir une
          installation de qualité, durable dans le temps. À ces deux titres,
          TOUS les poêles Aäsgard sont éligibles à Ma Prime Rénov’.
        </p>
      </div>
      <div class="prime-btn">
        <button type="button" class="btn">Je prends RDV</button>
      </div>
    </div>
  </div>
</main>
